// это твой файлик где должны хранится все повторяющиеся значения макета, такие как размеры шрифтов, цвета, border-radius, transition, box-shadows и другое что часто повторяется в макете

// здесь ты должен задать переменные для всех шрифтов которые используются в макете
// font size
$regular: 16px;
$extraLarge: 20px;
$large: 18px;
$medium: 14px;
$small: 12px;
$extraSmall: 10px;

// здесь ты должен задать переменные для всех цветов которые есть в макете даже для белого и черного, я оставил пример двух оставлю еще пример по этому макету
// colors
$primary: #b6509e;
$secondary: #2ebac6;

// пример по макету
$white: #fff;
$darkText: #192252;
$lightText: #848FAC;
// пример использования, так ты должен делать в main.scss
//body {
//  color: $lightText;
//}

// different
$borderRadius: 2px;
$boxShadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
$transition: all 0.2s ease;
